<!DOCTYPE html>
<html lang="en">

<%- include('../common/head') -%>

<body>
    <%- include('../common/header') -%>
    <div class="container pt-4 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-3">
                    <a href="/post/new" class="btn btn-outline-success">
                        Thêm Blog
                    </a>
                </div>
                <div class="col-12 mt-2 mb-3">
                    <form action="/post/search" class="form-group d-flex">
                        <input type="text" placeholder="Search" name="title" class="form-control" style="width: 300px;">
                        <button type="submit" class="btn btn-outline-primary ml-3">Search</button>
                    </form>
                </div>
                <div class="col-12">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Date</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i = 0; i<blogs.length; i++) { %>
                            <tr>
                                <th scope="row"><%= i+1 %></th>
                                <td style="width: 250px; font-size: 15px;"><%= blogs[i].title %></td>
                                <td>
                                    <span class="blog-desc">
                                        <%= blogs[i].description %>
                                    </span>
                                </td>
                                <td><%= blogs[i].updatedAt.toLocaleDateString() %></td>
                                <td>
                                    <a href="/blog/<%= blogs[i].slug %>" target="_blank" class="btn btn-outline-primary btn-abc">
                                        Xem
                                    </a>
                                    <a href="/post/<%= blogs[i]._id %>/edit" class="btn btn-outline-info btn-abc">
                                        Sửa
                                    </a>
                                    <button class="btn btn-outline-danger btn-abc" data-id="<%=blogs[i]._id %>"
                                        data-toggle="modal" data-target="#delete-blog">
                                        Xoá
                                    </button>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="col-12">
                    <% if (pages > 0) { %>
                    <ul class="pagination text-center mb-0">
                        <% if (current == 1) { %>
                        <li><a class="disabled pagination-button pagination-button-prev">First</a></li>
                        <% } else { %>
                        <li><a class="pagination-button pagination-button-prev" href="/manage/1">First</a></li>
                        <% } %>
                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                        <% if (i !== 1) { %>
                        <li><a class="disabled pagination-btn">...</a></li>
                        <% } %>
                        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                        <li><a class="active pagination-btn"><%= i %></a></li>
                        <% } else { %>
                        <li><a class="pagination-btn" href="/manage/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                        <li><a class="disabled pagination-btn">...</a></li>
                        <% } %>
                        <% } %>
                        <% if (current == pages) { %>
                        <li><a class="disabled pagination-button pagination-button-next">Last</a></li>
                        <% } else { %>
                        <li><a class="pagination-button pagination-button-next" href="/manage/<%= pages %>">Last</a></li>
                        <% } %>
                    </ul>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-blog" tabindex="-1" aria-labelledby="deleteFormLabel" aria-hidden="true"
        role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteFormLabel">Xoá Blog?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>
                        Bạn có chắc chắn xoá blog này
                    </h3>
                </div>
                <div class="modal-footer">
                    <button id="btn-delete-blog" type="button" class="btn btn-danger">Xoá</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                </div>
            </div>
        </div>
    </div>
    <form method="POST" id="formDelete" name="form-Delete" hidden></form>

    <%- include('../common/footer') -%>
    <%- include('../common/script') -%>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let blogId;
            let deleteForm = document.forms['form-Delete'];
            $('#delete-blog').on('show.bs.modal', function (event) {
                let button = $(event.relatedTarget)
                blogId = button.data('id')
                let btnDeleteBlog = document.getElementById('btn-delete-blog');
                btnDeleteBlog.onclick = function () {
                    deleteForm.action = `/post/delete/${blogId}?_method=DELETE`;
                    deleteForm.submit();
                }
            })

        })
    </script>

</body>

</html>