<!DOCTYPE html>
<html lang="en">

<%- include('common/head'); -%>

<body>
    <%- include('common/header'); -%>
    <div class="main-page pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-2 mb-3">
                    <form action="/search" class="form-group d-flex">
                        <input type="text" placeholder="Search" name="title" class="form-control" style="width: 300px;">
                        <button type="submit" class="btn btn-outline-primary ml-3">Search</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <% for(let i = 0; i<blogs.length; i++) { %>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="blogs__item">
                        <div class="blogs__item--img">
                            <a href="/blog/<%= blogs[i].slug %>">
                                <img src=" <%= blogs[i].image %>" alt="">
                            </a>
                        </div>
                        <div class="blogs__item--info">
                            <div class="blogs__item--info-head">
                                <span class="blog-date">
                                    <%= blogs[i].createdAt.toLocaleDateString() %>
                                </span>
                                <span class="blog-date">
                                    <%= blogs[i].user ? blogs[i].user.name : '' %>
                                </span>
                            </div>
                            <h3 class="blogs__item--info-name">
                                <a class="blogs__item--info-link" href="/blog/<%= blogs[i].slug %>">
                                    <%= blogs[i].title %>
                                </a>
                            </h3>
                            <p class="blogs__item--info-desc">
                                <%= blogs[i].description %>
                            </p>
                            <a href="/blog/<%= blogs[i].slug %>" class="btn btn-outline-info">View blog</a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="row">
                <div class="col-12">
                    <% if (pages > 0) { %>
                    <ul class="pagination text-center mb-0">
                        <% if (current == 1) { %>
                        <li><a class="disabled pagination-button pagination-button-prev">First</a></li>
                        <% } else { %>
                        <li><a class="pagination-button pagination-button-prev" href="/blogs/1">First</a></li>
                        <% } %>
                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                        <% if (i !== 1) { %>
                        <li><a class="disabled pagination-btn">...</a></li>
                        <% } %>
                        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                        <li><a class="active pagination-btn"><%= i %></a></li>
                        <% } else { %>
                        <li><a class="pagination-btn" href="/blogs/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                        <li><a class="disabled pagination-btn">...</a></li>
                        <% } %>
                        <% } %>
                        <% if (current == pages) { %>
                        <li><a class="disabled pagination-button pagination-button-next">Last</a></li>
                        <% } else { %>
                        <li><a class="pagination-button pagination-button-next" href="/blogs/<%= pages %>">Last</a></li>
                        <% } %>
                    </ul>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <%- include('common/footer'); -%>
    <%- include('common/script'); -%>

</body>

</html>